html,
body,
#__next {
  height: 100%;
}

.requirements div:not(:last-child) {
  border-right: 1px solid #dedede;
}

.nav-pills .active {
  background-color: #F3F4F6 !important;
  color: #7F7F7F !important;
}

@media screen and (max-width: 767px) {
  .requirements div:not(:last-child) {
    border: none;
    border-bottom: 1px solid #dedede;
  }
}

@media screen and (max-width: 992px) {
  .nav-pills > a {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
