html,
body,
#__next {
  height: 100%;
}

.requirements div:not(:last-child) {
  border-right: 1px solid #dedede;
}

.nav-link {
  color: #000 !important;
}

.nav-link:hover {
  color: #4c4c4c !important;
}

.navbar-brand h2 {
  color: #183054 !important;
}

.nav-pills .active {
  background-color: #f3f4f6 !important;
  color: #000 !important;
}

@media screen and (max-width: 767px) {
  .requirements div:not(:last-child) {
    border: none;
    border-bottom: 1px solid #dedede;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}