html,
body,
#__next {
  height: 100%;
}

.additional-requirements div:not(:last-child) {
  border-right: 1px solid #DEDEDE;
}

@media screen and (max-width: 767px) {
  .additional-requirements div:not(:last-child) {
    border: none;
    border-bottom: 1px solid #DEDEDE;
  }
}
